/* Website Full Body Section Begins */
body {
    /*background-color:#EDEDED;
    */
    background-image:url(img/concrete_seamless.png);
    margin: 0;
    padding: 0;
    font-family: verdana, sans-serif;
}
/* Website Full Body Section Ends*/


/* Slide Show Section Begins */
.slideshow-container{
    width: 800px;
    position: relative;
    margin: auto;
}

.slides{
    display: none;
    
    
    
}

.number{
    position:absolute;
    padding:8px 12px;
    color:black;
}

/*
.text{
    text-align: center;
    font-size: 15px;
    position:absolute;
    width: 100%;
    padding: 8px 16px;
    bottom: 20px;
    font-weight: bold;
    color: black;
    
}
*/

.prev, .next{
    position:absolute;
    top: 50%;
    color: #f2f2f2;
    font-weight:bold;
    padding: 10px; 10px;
    font size: 18px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}

.next{
    border-radius: 3px 0 0 3px;
    right: 0;
}

.prev:hover, .next:hover{
    background: rgb(0,0,0,0.8);
}
/*Slide Show Section Ends */


/* No longer need these codes.
.dots{
    width: 10px;
    height: 10px;
    display: inline-block;
    background: gray;
    padding: 5px;
    border-radius: 50%;
    margin:auto;
    cursor: pointer;
}

.fade{
    animation-name: fade;
    animation-duration:0.5s;
}

@keyframes fade{
    from{opacity: 0.4}
    to{opacity: 1}
}

.active ,.dots:hover{
    background: #333;
}
*/

/* Header Menu Begins*/
header{
    position: relative;    
}

nav{
    position:absolute;
    top:0; 
    right:0;
}

#nobullets{
    list-style-type:none;
    margin:0;
    padding:0;
    display:inline;
}

#nobullets li{
    display: inline;
    
}
/* Header Menu Ends*/


/*Website Middle Begins*/
h1{
    color:black;
}

.nobull{
    list-style-type: none;
    
}

#ks{
    text-align: center;

}
#skills{
    background-color: white
    border: 1px solid powderblue;
    margin: 50px;
    text-align:center;
}
/*Website Middle Begins*/

.firstTitle{
    text-align:center;
    color: black;
}

.gohead{
    text-align:center
}
/*Second Version Contact Form Begins*/

.contact-title{
    margin-top: 1px;
    color: #03172B;
    text-transform: uppercase;
    transition: all 4s ease-in-out;
}

.contact-title h1{
    font-size: 32px;
    line-height: 10px
}

.contact-title{
    font-size: 16px;
}


form{
    margin-top: 50px;
    transition: all 4s ease-in-out;
}

.form-control{
    width: 600px;
    background: black;
    border: none;
    outline: none;
    border-bottom: 10px solid #EDEDED;
    color: #fff;
    font-size:18px;
    margin-bottom: 16px;
    
}

input{
    height: 45px;
    
}

form .submit{
    background-color: transparent;
    background: #black;
    color: #black;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
    
}

form .submit:hover{
    background-color: black;
    cursor: pointer;
}



.contact-title{
    text-align: center;
}

/*Second Version Contact Form Ends*/








